{% extends 'base.html' %}
{% load static %}

{% block title %}{{ author.displayName }}'s Profile{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{%static 'css/profile.css' %}"/>
<script src="https://kit.fontawesome.com/04c5b72d3b.js" crossorigin="anonymous"></script>
<script src="{%static 'js/follower_detail.js' %}" defer></script>
{{ author|json_script:"author" }}
{% endblock %}

{% block content %}
<header class="py-2 px-3 border-bottom d-flex">
    <button onClick="javascript:history.go(-1);" class="btn p-1 back"><i class="fa-solid fa-arrow-left-long"></i>Back</button>
</header>
<main class="d-flex p-2 px-3 flex-column justify-content-center align-items-center">
    <form>
        {% csrf_token %}
        <h1 class="mb-3">{% if edit %}Edit Your{% else %}{{ author.displayName }}'s{% endif %} Profile</h1>
        <div class="mb-3">
            <label for="displayName" class="form-label">Display/User Name</label>
            <input {% if not edit %}disabled{% endif %} type="text" class="form-control" name="displayName" id="displayName" value="{{ author.displayName }}" required>
        </div>
        
        {% if edit %}
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Enter new password (leave blank if unchanged)">
        </div>
        {% endif %}
        
        <div class="mb-3">
            <label for="github" class="form-label">Github</label>
            <input {% if not edit %}disabled{% endif %} type="url" class="form-control" name="github" id="github" value="{{ author.github }}" required>
        </div>
        <div class="mb-3">
            <label for="profileImage" class="form-label">Profile Image URL</label>
            <input {% if not edit %}disabled{% endif %} type="url" class="form-control" name="profileImage" id="profileImage" value="{{ author.profileImage }}">
        </div>
        {% if error %}
            <p class="text-danger">{{ error }}</p>
        {% endif %}
        <div>
            {% if isFollowed %}
                <button id="unfollow" type="button" class="btn p-1 px-2 btn-outline-danger ms-auto">Unfollow</button>
                <p style="color: var(--primary-800)" class="mention">You've followed this user.</p>
            {% else %}
                <button id="follow" type="button" class="btn p-1 px-2 btn-outline-danger ms-auto">Follow</button>
                <p style="color: var(--primary-800)" class="mention">You didn't follow this user.</p>
            {% endif %}

        </div>
    </form>
</main>
{% endblock %}
