{% extends 'base.html' %} {% load static %} {% block title %}Home{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="{%static 'css/home.css' %}" /><script src="https://kit.fontawesome.com/04c5b72d3b.js" crossorigin="anonymous"></script>{% endblock %}

<!-- {% if user.is_authenticated %}
  Hi {{ user.username }}!
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %} -->

{% block content %}
<header class="px-4 py-2 border-bottom">
  <button class="btn create">+ Create</button>
  <button aria-label="inbox" class="inbox"><i class="fa-solid fa-inbox"></i></button>
  <img class="rounded-circle profile-pic" src="{{ profileImage }}" alt="profile pic"/>
</header>
<main></main>
{% endblock %}
