{% extends 'base.html' %} {% load static %} {% block title %}Home{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{%static 'css/home.css' %}" />
<script
  src="https://kit.fontawesome.com/04c5b72d3b.js"
  crossorigin="anonymous"
></script>
<script src="{%static 'js/home.js' %}" defer></script>
{{ author|json_script:"author" }}
{% endblock %} {% load markdown %} {% block content %}
<header class="px-4 py-2 border-bottom">
  <a href="{% url 'logout' %}" class="btn btn-outline-danger btn-sm me-auto logout"
    >Logout</a
  >
  <a href="{% url "follow_request" %}" class="btn green-btn add">Add Friends</a>
  <a href="{% url 'home_post_create' %}" class="btn green-btn create">+ Create</a>

  <div class="dropdown">
    <button aria-label="inbox" class="inbox">
        <span class="fa-solid fa-inbox"></span>
        {% if item != None %}
            <span class="dot button_dot"></span>
        {% endif %}
    </button>
    <div class="dropdown-contents">
            <a href="{% url 'messages' %}">
                Messages
                {% if item != None %}
                    <span class="dot messages-dot"></span>
                {% endif %}
            </a>
            {# This page will not be built for now #}
            <a href="{% url 'requests' %}">
                Friend Requests
                {% if item != None %}
                    <span class="dot requests-dot"></span>
                {% endif %}
            </a>
    </div>
  </div>

  <a class="profile-link" href="{{ author.url }}">
    {% if author.profileImage %}
    <img
      class="rounded-circle profile-pic"
      src="{{ author.profileImage }}"
      alt="profile picture"
    />
    {% else %}
    <i
      class="rounded-circle profile-pic-default fa-solid fa-user"
      aria-label="profile picture"
    ></i>
    {% endif %}
  </a>
</header>
<div class="container">
  <main>
    {% for post in posts %}
    <form id="{{ post.id }}" class="post">
      {% csrf_token %}
      <div class="d-flex align-items-start">
        <a
          href="{{ post.author.url }}"
          target="_blank"
          aria-label="Link to profile"
        >
          {% if post.author.profileImage %}
          <img
            class="rounded-circle profile-pic"
            src="{{ post.author.profileImage }}"
            alt="profile picture"
          />
          {% else %}
          <i
            class="rounded-circle profile-pic-default fa-solid fa-user"
            aria-label="profile picture"
          ></i>
          {% endif %}
        </a>
        <div class="ms-3 w-100">
          <div class="d-flex">
            <p class="mt-1 mb-0 fw-bolder">{{ post.author.displayName }}</p>
            {% comment %} Date can be added in the future?
            <p class="ms-3 mt-1 mb-0">{{ post.dateDifference }}</p>
            {% endcomment %}
          </div>
          <h2 class="mt-3 post-title">{{ post.title }}</h2>
          {% if post.description and post.description != "" %}
          <div aria-label="description" class="description w-100">
            {% if post.contentType == 'text/markdown' %}
            <p>{{ post.description | markdown_extract | safe }}</p>
            {% else %}
            <p class="w-100">{{ post.description }}</p>
            {% endif %}
          </div>
          {% endif %} {% if post.imageSource %}
          <img class="image bg-white" src="{{ post.imageSource }}" />
          {% endif %}
          <div class="mt-2 d-flex justify-content-start align-items-center">
            {% for category in post.categories %}
            <p class="category-button">{{ category }}</p>
            {% endfor %}
          </div>
          <div
            class="icons mt-3 d-flex justify-content-start align-items-center"
          >
            <button class="me-4"><i class="fa-regular fa-heart"></i></button>
            <a href="/post/{{ post.id }}/share">
              <button><i class="fa-solid fa-share"></i></button>
            </a>
          </div>
          <div class="mt-4 w-100">
            {% for commentObj in post.commentsSrc.comments %}
            <div class="d-flex mt-2">
              <a class="me-3" href="{{ commentObj.author.url }}">
                {% if commentObj.author.profileImage %}
                <img
                  class="rounded-circle profile-pic"
                  src="{{ commentObj.author.profileImage }}"
                  alt="profile picture"
                />
                {% else %}
                <i
                  class="rounded-circle profile-pic-default fa-solid fa-user"
                  aria-label="profile picture"
                ></i>
                {% endif %}
              </a>
              <div class="comment">
                <p class="fw-bolder mb-1">
                  {{ commentObj.author.displayName }}
                </p>
                {% if commentObj.contentType == 'text/markdown' %}
                <p>{{ commentObj.comment | markdown_extract | safe }}</p>
                {% else %}
                <p class="w-100">{{ commentObj.comment }}</p>
                {% endif %}
              </div>
            </div>
            {% endfor %}
            <div class="comment-text-box mt-2 d-flex align-items-center w-100">
              {% if author.profileImage %}
              <img
                class="rounded-circle profile-pic"
                src="{{ author.profileImage }}"
                alt="profile picture"
              />
              {% else %}
              <i
                class="rounded-circle profile-pic-default fa-solid fa-user"
                aria-label="profile picture"
              ></i>
              {% endif %}
              <input
                class="ms-3 me-2 form-control"
                type="text"
                name="comment"
                id="comment"
                placeholder="Enter your comment"
                required
              />
              <button
                aria-label="post comment"
                class="send-button"
                type="submit"
              >
                <i class="fa-solid fa-paper-plane"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </form>
    {% endfor %}
  </main>
</div>
{% endblock %}