{% extends 'base.html' %}
{% load static %}
{% block title %}Inbox Messages{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{%static 'css/inbox.css' %}" />
    <script
      src="https://kit.fontawesome.com/04c5b72d3b.js"
      crossorigin="anonymous"
    ></script>
    <script src="{%static 'js/inbox.js' %}" crossorigin="anonymous" defer></script>
{% endblock %}

{% block content %}
<header class="py-2 px-3 border-bottom">
    <button onClick="javascript:history.go(-1);" class="btn p-1 back"><i class="fa-solid fa-arrow-left-long"></i>Back</button>
    <button class="clear-btn" onclick="clearInbox()"><i class="fa fa-trash-o"></i></button>
</header>
<main class="p-4 d-flex align-items-start justify-content-center">
    <form method="get">
        {% csrf_token %}
        <h1 class="mb-3">Messages</h1>
        {% if messages != None%}
            {% for i in posts %}
                <div class="rows">
                    <div class="column">
                        <p>From: {{ i.author.displayName }}</p><br>
                        <p>Title: {{ i.title }}</p><br>
                        <p>Description: {{ i.description }}</p><br>
                        <p>Comments:</p><br>
                            {% for j in comments %}
                                {% if j.post_id == i.id %}
                                    <ul style="color: black"><li>From {{ j.author.displayName }}: {{ j.comment }}</li></ul><br>
                                {% endif %}
                            {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>There is no messages for this part right now.</p>
        {% endif %}
        <br><br>
        <h1 class="mb-3">Follow Requests</h1>
        {% if requests != None%}
            {% for i in content %}
                <div class="rows">
                    <div class="column">
                        <p class="summary">
                            {{ i.summary }}
                        </p>
                        <span>
                            <button class="actions" onclick="confirmRequest()">Fo Back</button>
                            <button class="actions" onclick="rejectRequest()">OK</button>
                        </span>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>There is no follow requests right now.</p>
        {% endif %}
    </form>
</main>
{% endblock %}