{% extends 'base.html' %}
{% load static %}
{% block title %}Inbox Messages{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{%static 'css/inbox.css' %}" />
{% endblock %}

{% block content %}
<header class="py-2 px-3 border-bottom">
  <button onClick="javascript:history.go(-1);" class="btn p-1 back"><i class="fa-solid fa-arrow-left-long"></i>Back</button>
</header>
<main class="p-4 d-flex align-items-start justify-content-center">

    <form method="get">
        {% csrf_token %}
        <h1 class="mb-3">Inbox Messages</h1>
        <div class="rows">
            <div class="column">
                <p>{{ content.summary }}</p>
            </div>
        </div>
        {% if form.errors %}
            <p>There is no messages in inbox right now.</p>
        {% endif %}
    </form>
</main>
{% endblock %}