{% extends 'base.html' %} {% load static %} {% block title %}Post{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{%static 'css/post_form.css' %}" />
<link rel="stylesheet" href="{%static 'css/tag.css' %}" />
<script src="https://kit.fontawesome.com/04c5b72d3b.js" crossorigin="anonymous"></script>
<script src="{%static 'js/tag.js' %}" crossorigin="anonymous" defer></script>
<script src="{%static 'js/post_form.js' %}" crossorigin="anonymous" defer></script>
{{ author|json_script:"author" }}
{{ post|json_script:"post" }}
{{ name|json_script:"name" }}
{% endblock %}


{% block content %}
<header class="py-2 px-3 border-bottom">
  <button onClick="javascript:history.go(-1);" class="btn p-1 back"><i class="fa-solid fa-arrow-left-long"></i>Back</button>
</header>
<main class="p-4 d-flex align-items-start justify-content-center">
  <form class="d-block" enctype="multipart/form-data">
    {% csrf_token %}
    <h1 class="mb-3">{% if name == "home_post_create" %}Create{% else %}Edit{% endif %} Post</h1>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" name="title" id="title" placeholder="Enter your post title" value="{{ post.title }}" required/>
      <label for="title">Title</label>
    </div>

    <div class="form-floating mb-3">
      <textarea name="description" id="description" class="form-control" placeholder="What is your post about?" required>{{ post.description }}</textarea>
      <label for="description">Description</label>
    </div>

    <label class="mb-1" for="categories">Categories</label>
    <div class="mb-3 tag-container">
      <div class="tags-container">
        {% for category in post.categories %}
          <button class="tag" type="button" data-value="{{ category }}"><i class="fa-solid fa-x"></i>{{ category }}</button>
        {% endfor %}
      </div>
      <input type="text" id="categories" class="form-control" placeholder="Add categories here..."/>
    </div>

    <div class="d-flex mb-3">
      <div class="form-check form-switch">
        <label class="form-check-label" for="markdown">Markdown</label>
        <input class="form-check-input" type="checkbox" name="markdown" role="switch" id="markdown" {% if post.contentType == 'text/markdown' %}checked{% endif %}>
      </div>

      <div class="form-check form-switch mx-4">
        <label class="form-check-label" for="unlisted">Unlisted</label>
        <input class="form-check-input" type="checkbox" name="unlisted" role="switch" id="unlisted" {% if post.unlisted %}checked{% endif %}>
      </div>
    </div>

    {% if name == 'home_post_edit' and post.imageSource %}
      <img class='post-image' src="{{ post.imageSource }}" />
    {% endif %}

    <label class="mb-1" for="imageFile">{% if name == 'home_post_edit' %}New {% endif %}Image</label>
    <input class="form-control mb-3" type="file" accept="image/*" name="imageFile" id="imageFile"/>

    <label class="mb-1" for="visibility">Visibility</label>
    <select class="form-select mb-3" name="visibility" id="visibility">
      <option value="PUBLIC" {% if post.visibility == 'PUBLIC' %}selected{% endif %}>Public</option>
      <option value="PRIVATE" {% if post.visibility == 'PRIVATE' %}selected{% endif %}>Private</option>
      <option value="FRIENDS" {% if post.visibility == 'FRIENDS' %}selected{% endif %}>Friends-Only</option>
    </select>

    <div>
      {% if name == "home_post_edit" %}<button id="delete" type="button" class="btn p-1 px-2 btn-outline-danger ms-auto">Delete</button>{% endif %}
      <button class="btn green-btn ms-auto" type="submit">{% if name == "home_post_create" %}Create{% else %}Save{% endif %}</button>
    </div>
  </form>
</main>
{% endblock %}
