{% extends 'base.html' %}
{% load static %}
{% block title %}Friend Requests{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{%static 'css/inbox.css' %}" />
{% endblock %}

{% block content %}
<header class="py-2 px-3 border-bottom">
  <button onClick="javascript:history.go(-1);" class="btn p-1 back"><i class="fa-solid fa-arrow-left-long"></i>Back</button>
</header>
<div class="container">
  <main>
    {% for request in requests %}
    <div class="re">
      <div class="d-flex align-items-start">
        <h2 class="mt-3 post-title">{{ request.summary }}</h2>
      </div>
    </div>
    <hr />
    {% endfor %}
  </main>
</div>
{% endblock %}