header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header > .create {
  margin-left: auto;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 100rem;
}

.inbox {
  background-color: transparent;
  color: rgb(87, 87, 87);
  border: none;
  margin-left: 1rem;
  transition: 200ms;
}

.inbox:hover {
  transform: scale(1.1);
}

.inbox > i {
  font-size: 1.5rem;
}

.profile-pic {
  margin-left: 1rem;
  width: 3rem;
  height: 3rem;

  object-fit: contain;
}

.profile-pic-default {
  background-color: var(--primary-400);
  color: white;
  padding: 0.5rem;
  margin-left: 1rem;
  font-size: 1rem;
}

main {
  margin-left: auto;
  margin-right: auto;

  width: 100%;
  min-height: 100vh;

  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
