.back {
  color: var(--primary-800);
  font-weight: 500;
}

.back > i {
  margin-right: 0.5rem;
}

main {
  width: 100%;
  min-height: calc(100% - 60px);
  height: fit-content;
}

form {
  width: 30rem;
  max-width: 100%;
}

h1 {
  color: var(--primary-800);
  text-align: center;
  margin-left: 8%;
  margin-right: 8%;
}


.nav-content .navbar li a{
    float: bottom;
    text-align: center;
    display: block;
    color: var(--primary-800);
    padding: 10px 10px;
    text-decoration: none;
}

.navbar li a:hover {
  text-decoration: underline;
  background-color: transparent;
}


p {
  display: inline-block;
  vertical-align: bottom;
  color: var(--primary-800);
  margin-top: 10px;
  font-family: Courier, serif;
}

.actions {
  color: #778377;
  border-style: solid;
  border-color: var(--primary-500);
  background-color: white;
  border-radius: 20px;
  font-size: small;
  height: 30px;
  width: 70px;
  float: right;
  margin: 5px;
}

.clear-btn {
  float: right;
  background-color: transparent;
  color: var(--primary-800);;
  border: none;
  outline: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 25px;
  margin-left: 1rem;
}

.clear-btn:hover {
  transform: scale(1.1);
  color: #e07a5f;
}

.column {
  background-color:transparent;
  font-size: medium;
  color: white;
  font-family: Courier, serif;
}

.rows {
  margin-top: 20px;
  border-bottom: darkolivegreen 1px solid;
}