:root {
  --bg: rgb(247, 247, 247);
  --beige: #fef5ed;
  --orange: #e07a5f;
  --primary-300: #d3e4cd;
  --primary-400: #adc2a9;
  --primary-500: #99a799;
  --primary-800: #778377;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: var(--bg);
}

h1 {
  font-size: 3rem;
}

.form-control:focus,
.form-check-input:focus,
.form-select:focus,
.green-btn:focus,
button:focus {
  outline: 0 none;
  border: 2px solid var(--primary-300);
  box-shadow: 0 0 15px var(--primary-300);
}

.form-check-input:checked {
  border-color: var(--primary-400);
  background-color: var(--primary-500);
}

.green-btn {
  padding: 0.25rem 0.5rem;
  color: white;
  background-color: var(--primary-400);
  height: fit-content;
  margin-left: auto;
}

button[type="submit"] {
  float: right;
  background-color: var(--primary-400);
  color: white;
  font-weight: 500;

  transition: 200ms;
}

button[type="submit"]:hover {
  color: white;
  transform: scale(1.1);
}
