{% extends 'base.html' %}
{% load static %}

{% block title %}Login Here{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="{%static 'css/auth.css' %}"/>{% endblock %}

{% block content %}
<main class="w-100 h-100 d-flex flex-column justify-content-center align-items-center">
    <form method="post">
        {% csrf_token %}
        <h1 class="mb-3">Login</h1>
        <div class="mb-3">
            <label for="displayName" class="form-label">Display Name</label>
            <input type="text" class="form-control" id="displayName" placeholder="Enter your display name here" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter a good secure password" required>
        </div>
        <button type="submit" class="btn">Login</button>
    </form>
<main>
{% endblock %}