{% extends 'base.html' %}
{% load static %}

{% block title %}Login Here{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="{%static 'css/auth.css' %}"/>{% endblock %}

{% block content %}
<main class="w-100 h-100 d-flex flex-column justify-content-center align-items-center">
    <form method="post">
        {% csrf_token %}
        <h1 class="mb-3">Login</h1>
        <div class="mb-3">
            <label for="username" class="form-label">Display/User Name</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Enter your display/user name here" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Enter a good secure password" required>
        </div>
        <a class="d-block mb-3" href="{% url 'signup' %}">Don't have an account? Sign up here</a>
        {% if form.errors %}
            <p class="text-danger">username or password not correct</p>
        {% endif %}
        <button type="submit" class="btn">Login</button>
    </form>
</main>
{% endblock %}